.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box__ph1W {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box__ph1W > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__ph1W > :global(.__wab_flex-container) > *,
.box__ph1W > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section__q6U2X:global(.__wab_instance) {
  position: relative;
}
.box__rEaKd {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__rEaKd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__rEaKd > :global(.__wab_flex-container) > *,
.box__rEaKd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__rEaKd {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__rEaKd > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__rEaKd > :global(.__wab_flex-container) > *,
  .box__rEaKd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.plan__suwug:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__rv6ND {
  font-size: 48px;
}
.box__fepwd {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__fepwd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__fepwd > :global(.__wab_flex-container) > *,
.box__fepwd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__jGVv:global(.__wab_instance) {
  position: relative;
}
.bullet__cl8QN:global(.__wab_instance) {
  position: relative;
}
.bullet__dgJJ:global(.__wab_instance) {
  position: relative;
}
.plan__bQkR4:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__ouEzU {
  font-size: 48px;
}
.box___5AE2 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box___5AE2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box___5AE2 > :global(.__wab_flex-container) > *,
.box___5AE2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__lKeE1:global(.__wab_instance) {
  position: relative;
}
.bullet__wFAaz:global(.__wab_instance) {
  position: relative;
}
.bullet___7II31:global(.__wab_instance) {
  position: relative;
}
.bullet__szLx:global(.__wab_instance) {
  position: relative;
}
.plan__uXmK:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__vgU8L {
  font-size: 48px;
}
.box__okSdd {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__okSdd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__okSdd > :global(.__wab_flex-container) > *,
.box__okSdd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet___1LUdl:global(.__wab_instance) {
  position: relative;
}
.bullet__nh7Rb:global(.__wab_instance) {
  position: relative;
}
.bullet__j0Lg:global(.__wab_instance) {
  position: relative;
}
.section__u2XIr:global(.__wab_instance) {
  position: relative;
}
.faq__nMzzJ:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__zOe0Y:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__hLDqx:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
