.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box__iwY68 {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box__iwY68 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__iwY68 > :global(.__wab_flex-container) > *,
.box__iwY68 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.box__nMz {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__nMz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__nMz > :global(.__wab_flex-container) > *,
.box__nMz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__nMz {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__nMz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__nMz > :global(.__wab_flex-container) > *,
  .box__nMz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.box__aoRyZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.box__aoRyZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__aoRyZ > :global(.__wab_flex-container) > *,
.box__aoRyZ > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__aoRyZ {
    width: 100%;
    min-width: 0;
  }
}
.box__aIxps {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}
.box__rgtz2 {
  position: relative;
  text-align: left;
}
.bullet__rnDz0:global(.__wab_instance) {
  position: relative;
}
.bullet__tJzqy:global(.__wab_instance) {
  position: relative;
}
.bullet__bjSep:global(.__wab_instance) {
  position: relative;
}
.box__tZwvI {
  position: relative;
  text-align: left;
}
.box__xLd6W {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__xLd6W > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box__xLd6W > :global(.__wab_flex-container) > *,
.box__xLd6W > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
.box___7YO06 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___7YO06 {
    width: 100%;
    min-width: 0;
  }
}
.img__hj3I2 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__oQx6E {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
